@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
  font-family: "Poppins", serif;
}

.hero-section-main-cover-wrapper{
    background-image: url("../org1/assets/HeroBanner.png");
  }

.scrolling-strip-wrapper {
  position: relative;
  width: 100%;
  background: #B7E91D;
}

.main-app {
  width: 100%;
  overflow: hidden;
  background: #202020;
}

.scrolling-strip {
  display: inline-block;
  white-space: nowrap;
  animation: scrollLeft 25s linear infinite;
}

button.cta-btn-box {
  padding: 3px 20px;
  border-radius: 25px;
  background: #B5E61D;
  color: black;
  font-weight: 600;
  align-items: center;
  font-size: 14px;
}

button.cta-btn-box span svg {
  margin-left: 15px;
  background: white;
  width: 28px;
  height: 28px;
  padding: 8px;
  border-radius: 50%;
  margin-right: -14px;
  margin-top: 1px;
  margin-bottom: 1px;
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}


.scrolling-stripRight {
  display: inline-block;
  white-space: nowrap;
  animation: scrollRight 25s linear infinite;
}

@keyframes scrollRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50%);
  }
}

.scroll-strip-section-main-cover-wrapper {
  width: 110vw;
  margin-left: -30px;
}

.hero-content-title-section-cover-wrapper {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.hero-content-title-section-cover-wrapper {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: white;
}

.hero-metrics-count-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -20px;
  width: fit-content;
}

.hero-metrics-count-box h6 {
  font-size: 25px;
  display: flex;
  align-items: center;
}
.hero-metrics-count-box h6 span img {
  margin-left: 10px;
}

.header-nav-link-box ul li {
  background-image: url("./assets/home_assets/nav-bg.png");
  padding: 5px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  overflow: hidden;
}

.header-login-btn {
  padding: 3px 22px;
  border: 1px solid #B5E61D;
  border-radius: 15px;
  font-size: 13px;
  align-items: center;
  display: flex;
}

.main-footer-bg {
  background-image: url("./assets/home_assets/footer_bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 180px;
}

.faq-header-title {
  background-image: url("./assets/home_assets/faq_text_bg.png");
  padding: 35px 63px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 30px;
}

.who-we-are-main-cover-section{
  background-image: url("./assets/home_assets/who_we_are_bg.png");
}


.contact-bg-img-box {
  position: absolute;
  top: 0;
}

img.what-we-do-card-bg {
  /* height: 95%; */
  position: absolute;
  top: 0;
}

.what-we-do-box {
  position: relative;
}

.what-we-do-main-title-cover-wrapper img {
  mix-blend-mode: color-dodge;
  width: 22%;
}


.tone-effect-bg {
  background-image: url("./assets/home_assets/tone-bg.png");
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
}

.swiper-button-prev {
  background: #ffffffa6;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.swiper-button-next {
  background: #ffffffa6;
  width: 40px !important;
  height: 40px !important;
  border-radius: 50%;
}

.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  font-size: 20px !important;
  color: black !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  font-size: 20px !important;
  color: black !important;
}

.reel-footer-user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 12px;
}

.reel-videos-box-cover {
  border: 1px solid #d5ff7ea1;
  padding: 15px;
  padding-bottom: 10px;
  border-radius: 20px;
}
.reel-footer-box h6 {
  font-weight: 600;
  color: white;
}

@keyframes floatUpDown {
  0% { transform: translateY(0); }
  50% { transform: translateY(-10px); } /* Moves up */
  100% { transform: translateY(0); }
}

@keyframes rotate360 {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

